html,body,header,article,section{
	position:relative;
	display: block;
	line-height: normal;
	margin:0px;
	padding: 0px;

}

h1,h2,h3,h4,h5,h6,h7{
	position: relative;
	margin:0px;
	padding: 0px;
}

ul,li,ol{
	position: relative;
	display: block;
	text-decoration: none;
	text-align: normal;
	margin: 0px;
	padding: 0px;
}

a,a:hover,a:active,a:visited{
	text-decoration: none;
};